*{
    padding: 0;
    margin: 0;
}

.contenido{

    width: 100%;
    height: 600px;
   
   
}

.margen{
    width: 100%;
    height: 110px;
}

.encabezado{
    width: 90%;
    display: flex;
    margin: auto;
    margin-right: 10px !important;
    
  
}

.centrar{

    text-align: center !important;
    font-weight: bold;
    font-size: 11.5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.imagen{
    width: 30%;
   
}

img{
    width: 300px;
    float: right;
}

.parrafos{
   
    width: 90%;
    margin: auto;
    font-family: verdana;

   
}

p{
    margin: 0px;
    font-size: 14px;
}

h2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 18px;
    
}

h5{
    margin: 0px;
    font-weight: 100;
}


.tabla{

   width: 90%;
   margin: auto;
   align-items: center;
   
   
}


table{
   
    margin-top: 40px;
    width: 100%;
    text-align: center;

    
}

table, tr, th, td {
    border-color: black;
}

.th{
    font-size: 14px !important;
    font-weight: bold;
    padding: 8px;

}

.td{
    font-size: 13px !important;
    font-weight: 100;
    padding: 8px;
    font-family: arial;
}