<ion-header>
  <ion-toolbar color='toolbar'>
      <ion-buttons slot='start'>
          <ion-back-button defaultHref='/principal'></ion-back-button>
        </ion-buttons>
    <ion-title>Dia {{dia}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item *ngIf='datos == 0' color='primary'>
      <ion-card-title text-center> No tienes horario asigmando para este dia </ion-card-title>
    </ion-item>
  </ion-card>

  <ion-grid class="hora" *ngFor='let d of datos'>
	
    <ion-row class="row hora1">
      <p>MATERIA:  {{d.materia}}</p>
    </ion-row>
  
    <ion-row class="row alto">
  
      <ion-col class="col-md-6 hora2">
        <div class="border-abajo2"><p>DIA</p></div>
        <div class="border-abajo2"><p>AULA</p></div>
        <div><p>SECCION</p></div>
      </ion-col>
  
      <ion-col class="col-md-6 hora3">
        <div class="border-abajo"><p>{{d.dia}}</p></div>
        <div class="border-abajo"><p>{{d.nombreAula}}</p></div>
        <div><p>{{d.seccion}}</p></div>
      </ion-col>
  
    </ion-row>
    <ion-row>
      <ion-col><p>Inico: {{d.inicio}} </p></ion-col>
      <ion-col><p>Fin: {{d.fin}}</p></ion-col>
    </ion-row>
    
  </ion-grid>

</ion-content>
