
ion-content{
	--background: none;
	background: none;
	background-image: linear-gradient(100deg,rgb(12, 41, 51), rgb(32, 27, 34));
}

ion-list{
	--background: none;
    background: none;
    margin-bottom: 0!important;
}

ion-item{
	--border-color: transparent!important;
	--highlight-height: 0;
	--background: none;
	border-radius: 4px;
	margin-bottom: 5px;
	color: white;
	
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.it{
	margin-left: 20px !important;
}

.img{
    width: 100%;
    height: 130px;
    background-image: url('/assets/unerg.jpg');
	background-size: cover;
	opacity: 0.3;
}
.igm:before{
	content: "";
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgb(56, 169, 207), #010A0D);
	position: absolute;
	opacity: .3;
}
