<ion-menu side="start" 
            menuId="first"
            contentId='principal'
            #menu

            >
     
      <ion-content>

        <div class='img'>
          
        </div>
        

        <ion-list>
          <ion-menu-toggle>
            <ion-item *ngIf='us'>Horario por dia</ion-item>
            <ion-item *ngIf='us' class="it" detail (click)='modalPag($event)'>Lunes</ion-item>
            <ion-item *ngIf='us' class="it" detail (click)='modalPag($event)'>Martes</ion-item>
            <ion-item *ngIf='us' class="it" #mie detail (click)='modalPag($event)'>Miercoles</ion-item>
            <ion-item *ngIf='us' class="it" detail (click)='modalPag($event)'>Jueves</ion-item>
            <ion-item *ngIf='us' class="it" detail (click)='modalPag($event)'>Viernes</ion-item>
            <ion-button (click)='click()' expand='full' color='secondary'>Logout</ion-button>
         </ion-menu-toggle>  
        </ion-list>
      </ion-content>
</ion-menu>