ion-content{
    --offset-top: 0px;
    --offset-bottom: 0px;
   // --background:  linear-gradient(100deg,#27A7E7, rgb(22, 130, 167),#149DE2);
    --color: black;
}
ion-card{
    overflow: unset !important;
    color: white;
    --background:#0BB6E8; 
}

.btn{
    --background: #244848;
}

p{
    font-size: 15px;
}

.hora{
	margin:auto;
    width: 90%;
    border-top-right-radius: 20px;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
	border-bottom: 20px solid #ccc;
	border-bottom-right-radius: 20px;
    border-bottom-left-radius: 60px;
    margin-bottom: 10px;
	
}

.hora1{
    width: 100%;
	background:#095073;
	text-align: center;
	color: white;
	border-top-right-radius: 40px;
}

.hora2{
	text-align: left;
	background: #0C5C84;
	color: white;
    border-bottom-left-radius: 40px;
	
}
.hora3{
    margin:0;
    padding: 0;
    text-align: center;
}
.border-abajo{
   
    height: 20px;
	border-bottom: 2px solid #ccc;
}

.border-abajo2{
    height: 20px;
	border-bottom: 2px solid #0C5C84;
}